$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// set if you're also including font-awesome
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//code commun
body, .container-fluid, html {
  margin: 0px;
  padding: 0px;
}

body, html {
  height:100%;
}

.container-fluid {
  background-color:#8FBC8F;
  min-height:100%;
}

.row {
  padding:0;
  margin:0;
}

#wrapper {
  color:#e1ffff;
  font-family:'Unica One', cursive;
}

h1 {
  margin-left:15px;
}

p, label, li, td {
  font-family: 'Vollkorn', serif;
}

label {
  font-size:15px;
}

hr {
  height:1px;
  width:40%;
  background-color:#006400;
  border:none;
  margin-left:5%;
}

.col-md-6 {
  padding:0;
}

div.form-group.row {
  margin-bottom:15px;
}

.table {
  width:90%;
  margin:auto;
}

tr {
  background-color:#8FBC8F !important;
}

a {
  color:#e1ffff;
  text-decoration:none !important;
}

a:hover {
  color:#006400;
}

.table-bordered {
  border:1px solid #e1ffff;
}

.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
  border:1px solid #e1ffff;
}

.table>tbody>tr>td {
  vertical-align:center;
}

//footer
footer {
  bottom:0;
  height:90px;
  background-color:#9BCD9B;
}

a.btn.btn-social-icon {
  font-size:25px;
  margin-top:10px;
  color:#e1ffff;
}

a.btn.btn-social-icon:hover {
  color:#006400;
}

a.connexion {
  color:#e1ffff;
  text-decoration: none;
}

a.connexion:hover {
  color:#006400;
}

//menu
.nav-side-menu {
  overflow: auto;
  font-size: 20px;
  background-color: #698B69;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  text-align:center;
}

.nav-side-menu .brand {
  background-color: #698B69;
  text-align: center;
  height:30%;
  border-bottom:1px solid #9BCD9B;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 60px;
  cursor: pointer;
  font-family:'Unica One', cursive;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #9BCD9B;
  border: none;
  line-height: 30px;
  margin-left: 0px;
  text-align:center;
  font-size:15px;
}

.nav-side-menu a:hover, .nav-side-menu ul .sub-menu a:hover,
.nav-side-menu li .sub-menu a:hover {
  color: #006400;
}

.nav-side-menu li {
  border-bottom: 1px solid #9BCD9B;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li:hover {
  border-right: 5px solid #006400;
}

.active {
  color: #006400 !important;
}

@media (max-width: 1023px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }

  #hamburger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #698B69;
    color: #006400;
    box-shadow:none;
    border:none;
  }

  #logo {
    padding:5px;
    height:60px;
  }
}

@media (min-width: 1024px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #wrapper {
    padding-left:300px;
  }

  #hamburger {
    display:none;
  }

  .brand {
    padding-top:30px;
  }

  footer {
    padding-left:300px;
  }
}

//page contact
#contact_row, #reservation_row, #conseils_row, #welcome_row, #listnews_row, #addinfo_row, #admin_row {
  margin-bottom: 100px;
  margin-top: 30px;
}

.form-control, #mceu_11 {
  width:80% !important;
}

#contact, #reservation, #conseils, #welcome, #listnews, #addinfo, #admin {
  background-color: #698B69;
  text-align:center;
}

#contact_infos {
  margin-top:75px;
}

#email, #localisation {
  text-align: center;
  background-color: #698B69;
  padding: 15px;
}

//home page
@media (max-width: 767px) {
  #image2, #image1 {
    display:none;
  }
}

#oiseau1, #oiseau2 {
  width:100%;
  height:auto;
}

//admin page

//conseils page
#category_row1 {
  margin-bottom:40px;
}


