$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// set if you're also including font-awesome
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.nav-side-menu {
  overflow: auto;
  font-size: 20px;
  font-family:'Unica One', cursive;
  background-color: #698B69;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  text-align:center;
}

.nav-side-menu .brand {
  background-color: #698B69;
  text-align: center;
  height:30%;
  border-bottom:1px solid #9BCD9B;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 60px;
  cursor: pointer;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #9BCD9B;
  border: none;
  line-height: 30px;
  margin-left: 0px;
  text-align:center;
  font-size:15px;
}

.nav-side-menu a:hover, .nav-side-menu ul .sub-menu a:hover,
.nav-side-menu li .sub-menu a:hover {
  color: #006400;
}

.nav-side-menu li {
  border-bottom: 1px solid #9BCD9B;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li:hover {
  border-right: 5px solid #006400;
}

.active {
  color: #006400 !important;
}

@media (max-width: 1023px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }

  #hamburger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #698B69;
    color: #006400;
    box-shadow:none;
    border:none;
  }

  #logo {
    padding:5px;
    height:60px;
  }
}

@media (min-width: 1024px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #wrapper {
    padding-left:300px;
  }

  #hamburger {
    display:none;
  }

  .brand {
    padding-top:30px;
  }

  footer {
    padding-left:300px;
  }
}

body, .container-fluid, html {
  margin: 0px;
  padding: 0px;
}

body, html {
  height:100%;
}

.container-fluid {
  background-color:#8FBC8F;
}

footer {
  bottom:0;
  height:80px;
  background-color:#9BCD9B;
}

a.btn.btn-social-icon {
  font-size:25px;
  margin-top:10px;
  color:#e1ffff;
}

a.btn.btn-social-icon:hover {
  color:#006400;
}

.row {
  padding:0;
  margin:0;
}

#wrapper {
  color:#e1ffff;
  font-family:'Unica One', cursive;
}

@media (max-width: 767px) {
  #image2, #image1 {
    display:none;
  }

  .container-fluid {
    min-height:100%;
  }
}

#welcome {
  height:150px;
  background-color:#9BCD9B;
}

@media (min-width: 468px) {
  #welcome_title {
    text-align:center;
    line-height:3em;
  }
}

@media (max-width: 467px) {
  #welcome_title {
    line-height:1.8em;
    text-align:center;
  }
}

#oiseau1, #oiseau2 {
  width:100%;
  height:auto;
}

.col-md-6 {
  padding:0;
}

hr {
	height:1px;
	width:40%;
	background-color:#006400;
	border:none;
  margin-left:5%;
}

div.form-group.row {
  margin-bottom:15px;
}
