{% extends 'base2.html.twig' %}

{% block wrapper %}
    <div class="row title_row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>AJOUTER UNE NEWS</h1>
        </div>
    </div>

    {% form_theme form 'theme/addnews_type.html.twig' %}
    {{ form(form) }}
{% endblock %}
