{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row" id="conseils_row">
        <div id="conseils" class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>NOS CONSEILS</h1>
            <p>Retrouvez dans chaque catégorie tous nos conseils en passant par le choix de votre perroquet, son installation chez vous mais aussi son éducation !</p>
        </div>
    </div>

    <div class="row" id="category_row1">
        <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3">
            <h1><a href="{{ path('conseils_by_category', {'category':'alimentation'}) }}">ALIMENTATION</a></h1>
            <hr>
            <ul>
                <li>Bien nourrir son perroquet</li>
                <li>Graines</li>
                <li>...</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
            <h1><a href="{{ path('conseils_by_category', {'category':'education'}) }}">EDUCATION</a></h1>
            <hr>
            <ul>
                <li>Choisir son perroquet</li>
                <li>Développement comportemental</li>
                <li>...</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3">
            <h1><a href="{{ path('conseils_by_category', {'category':'installation'}) }}">INSTALLATION</a></h1>
            <hr>
            <ul>
                <li>Bien installer son perroquet</li>
                <li>Entretien de la cage</li>
                <li>...</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
            <h1><a href="{{ path('conseils_by_category', {'category':'pathologie'}) }}">PATHOLOGIE</a></h1>
            <hr>
            <ul>
                <li>Picage chez les perroquets</li>
                <li>...</li>
            </ul>
        </div>
    </div>

{% endblock %}
