{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row title_row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1 id="welcome_title">BIENVENUE A L'ELEVAGE DE COCO !</h1>
            <p>Découvrez notre nursery, nos couples reproducteurs et bien plus encore !!</p>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div id="image1" class="col-xs-12 col-md-6 presentation">
            <img id="oiseau1" class="img-responsive" src="{{ asset('images/accueil1.jpg') }}" alt="oiseau derriere rideau" />
        </div>
        <div class="col-xs-12 col-md-6 text-presentation">
            <h1>QUI SOMMES-NOUS ?</h1>
            <hr>
            <p>L'histoire a commencé en 2012 par l'achat en animalerie d'une première conure à joue verte, Coco. Une deuxième l'a rejoint l'année suivante pour ne pas qu'il s'ennuie. Ces deux-là se sont bien plu et ne se quittent plus depuis !</p>
            <p>Élever des oiseaux est pour nous une passion bien encrée. Le plaisir journalier de les voir évoluer dans un milieu artificiel et pouvoir observer leurs mœurs en captivité est une expérience exceptionnelle.</p>
            <p>La réussite de leur reproduction en captivité est une satisfaction qui anime sans cesse cette passion !</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 text-presentation">
            <h1>NOTRE PHILOSOPHIE</h1>
            <hr>
            <p>Intéressés par la plupart des Psittacidés, nous élevons qu'une espèce pour le moment : la conure à joues vertes.</p>
            <p>La philosophie de l’élevage est avant tout la réussite de leur maintenance en captivité dans des conditions adéquates.</p>
            <p>Une alimentation convenable et variée, des moments de sociabilisation avec l'humain et entre individus… tout autant de facteurs pour réussir l’élevage des perroquets en captivité.</p>
        </div>
        <div id="image2" class="col-xs-12 col-md-6 presentation">
            <img id="oiseau2" class="img-responsive" src="{{ asset('images/accueil2.jpg') }}" alt="oiseau en gros plan" />
        </div>
    </div>

{% endblock %}
