{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row" id="welcome">
        <h1 id="welcome_title">BIENVENUE A L'ELEVAGE DE COCO !</h1>
    </div>

    <div class="row">
        <div id="image1" class="col-xs-12 col-md-6">
        </div>
        <div class="col-xs-12 col-md-6">
            <h1>QUI SOMMES-NOUS ?</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>NOTRE PHILOSOPHIE</h1>
            <hr>
        </div>
        <div id="image2" class="col-xs-12 col-md-6">
        </div>
    </div>

{% endblock %}
