{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row title_row">
        {% if app.request.get('category')=='alimentation' %}
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>ALIMENTATION</h1>
            <p>Retrouvez ici tous nos conseils concernant l'alimentation de votre perroquet !</p>
        </div>

        {% elseif app.request.get('category')=='education' %}
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>EDUCATION</h1>
            <p>Retrouvez ici tous nos conseils concernant l'éducation de votre perroquet !</p>
        </div>

        {% elseif app.request.get('category')=='installation' %}
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>INSTALLATION</h1>
            <p>Retrouvez ici tous nos conseils concernant l'installation de votre perroquet chez vous !</p>
        </div>

        {% elseif app.request.get('category')=='pathologie' %}
            <div class="col-xs-12 col-md-offset-3 col-md-6 title">
                <h1>PATHOLOGIE</h1>
                <p>Retrouvez ici tous nos conseils concernant les pathologies de votre perroquet !</p>
            </div>
        {% endif %}
    </div>

    {% for infos in infosbycategory %}
        <div class="col-xs-12 col-md-4 conseils">
            <h3>{{ infos.title }}</h3>
            {#<p>Publié le {{ infos.dateCreation|date("d/m/Y") }}</p>#}
            <p>{{ infos.content[:50] }} <br> <a href="{{ path('get_info', {'id':infos.id}) }}">Lire la suite</a></p>
        </div>
    {% endfor %}

{% endblock %}
