{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row title_row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>MENTIONS LEGALES</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <h2>Présentation du site internet</h2>
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://maelleb-p5.jonathan-b.com/ l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
            </p>
            <p>Propriétaire : Maëlle Bohn <br>
                Responsable publication : Maëlle Bohn – bohnmaelle@gmail.com<br>
                Le responsable publication est une personne physique ou une personne morale.<br>
                Webmaster : Maëlle Bohn – bohnmaelle@gmail.com<br>
                Hébergeur : Maëlle Bohn <br>
                Délégué à la protection des données : Maëlle Bohn – bohnmaelle@gmail.com<br>
            </p>

            <h2>Conditions générales d’utilisation du site et des services proposés</h2>
            <p>Le Site constitue une oeuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables.
                Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.</p>
            <p>L’utilisation du site https://maelleb-p5.jonathan-b.com/ implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites.
                Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site https://maelleb-p5.jonathan-b.com sont donc invités à les consulter de manière régulière.</p>

            <h2>Limitations contractuelles sur les données techniques</h2>
            <p>Le site utilise la technologie JavaScript.</p>

            <h2>Propriété intellectuelle et contrefaçons</h2>
            <p>https://maelleb-p5.jonathan-b.com/ est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : https://maelleb-p5.jonathan-b.com/.</p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

            <h2>Gestion des données personnelles</h2>
            <p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679). </p>

            <h3>Responsables de la collecte des données personnelles</h3>
            <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est : Maëlle Bohn. https://maelleb-p5.jonathan-b.com/ est représenté par Maëlle Bohn, son représentant légal</p>

            <p>En tant que responsable du traitement des données qu’il collecte, https://maelleb-p5.jonathan-b.com/ s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment au Client d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.

            <h2>Sécurité</h2>
            <p>Pour assurer la sécurité et la confidentialité des Données Personnelles, https://maelleb-p5.jonathan-b.com/ utilise des réseaux protégés par des dispositifs standards tels que par pare-feu, la pseudonymisation, l’encryption et mot de passe. </p>
            <p>Lors du traitement des Données Personnelles, https://maelleb-p5.jonathan-b.com/ prend toutes les mesures raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou destruction.</p>

            <h2>« COOKIES »</h2>
            <p>Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur et enregistré au sein du terminal de l’Utilisateur (ex : ordinateur, smartphone). Ce fichier comprend des informations telles que le nom de domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, le système d’exploitation de l’Utilisateur, ainsi que la date et l’heure d’accès. Les Cookies ne risquent en aucun cas d’endommager le terminal de l’Utilisateur.</p><p>
                https://maelleb-p5.jonathan-b.com/ est susceptible de traiter les informations de l’Utilisateur concernant sa visite du Site, telles que les pages consultées, les recherches effectuées. Ces informations permettent à https://maelleb-p5.jonathan-b.com/ d’améliorer le contenu du Site, de la navigation de l’Utilisateur.</p>
            <p>Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site, l’Utilisateur peut configurer son navigateur pour qu’il lui permette de décider s’il souhaite ou non les accepter de manière à ce que des Cookies soient enregistrés dans le terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de manière à ce que l’acceptation ou le refus des Cookies lui soient proposés ponctuellement, avant qu’un Cookie soit susceptible d’être enregistré dans son terminal.
                https://maelleb-p5.jonathan-b.com/ informe l’Utilisateur que, dans ce cas, il se peut que les fonctionnalités de son logiciel de navigation ne soient pas toutes disponibles.</p>
            <p>Si l’Utilisateur refuse l’enregistrement de Cookies dans son terminal ou son navigateur, ou si l’Utilisateur supprime ceux qui y sont enregistrés, l’Utilisateur est informé que sa navigation et son expérience sur le Site peuvent être limitées. Cela pourrait également être le cas lorsque https://maelleb-p5.jonathan-b.com/ ou l’un de ses prestataires ne peut pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal, les paramètres de langue et d’affichage ou le pays depuis lequel le terminal semble connecté à Internet.</p>

        </div>
    </div>

{% endblock %}
