{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row" id="listnews_row">
        <div id="listnews" class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>DERNIERES NOUVELLES</h1>
            <p>Retrouvez ici toutes les dernières nouvelles de l'élevage</p>
        </div>
    </div>


    <div class="row">
        {% for news in listnews %}
        <div class="col-xs-12 col-md-4">
            <h3>{{ news.title }}</h3>
            <p>Publié le {{ news.dateCreation|date("d/m/Y") }}</p>
            <p>{{ news.content }} <a href="#">Lire la suite</a></p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
