{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="row" id="contact_row">
        <div id="contact" class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>CONNEXION</h1>
        </div>
    </div>

    <div>
        {% if errors %}
            <p>
                Les identifiants soumis semblent invalides, veuillez vérifier votre saisie.
            </p>
        {% endif %}
    </div>
    <div>
        <form action="{{ path('login') }}" method="post">

            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Votre nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ username }}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Votre mot de passe</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="_password" />
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Se connecter</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
