<!DOCTYPE html>
<html>
    <head>
        <title>
            Demande de réinitialisation du mot de passe
        </title>
    </head>
    <body>
        <section>
            <h2>
                Demande de réinitialisation du mot de passe
            </h2>
            <div>
                <p>
                    Comme demandé, voici un lien vous permettant de réinitialiser votre mot de passe :
                    <a href="{{ url('reset_password', {"token": users.resetPasswordToken}) }}"></a>
                </p>
            </div>
        </section>
    </body>
</html>
