<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section>
            <h2>
                Reservation Message
            </h2>
            <div>
                <p>
                    Message de {{ name }} (adresse e-mail : {{ email }}) :<br>
                    {{ message }}
                </p>
            </div>
        </section>
    </body>
</html>
