{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.password.first, { 'label': 'Votre nouveau mot de passe' }) }}
    {{ form_row(form.password.second, { 'label': 'Confirmation du nouveau mot de passe' }) }}
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success" id="submit">Enregistrer</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
